<!DOCTYPE html>
<html ng-app="funeral-tribute">
<head>
    <title>Tribute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <!-- bootstrap -->
    <link href="static/dependencies/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- JS -->
    <!-- bootstrap and jquery-->
    <script src="static/dependencies/bootstrap/js/popper.min.js"></script>
    <script src="static/dependencies/bootstrap/js/jquery-3.2.1.slim.min.js"></script>
    <script src="static/dependencies/bootstrap/js/bootstrap.js"></script>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- ANGULAR DEPENDENCIES -->
    <script src="static/dependencies/angular/js/angular.min.js"></script>
    <script src="static/dependencies/angular/js/angular-ui-router.js"></script>

    <!-- ANGULAR IMPORTS -->
    <script src="static/app/main.js"></script>
    <script src="static/app/main.routes.js"></script>
    <script src="static/app/modules/tributes/tributesController.js"></script>

    <!-- CSS -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css">
</head>

<body ng-controller="tributesController" ng-init="init()"
      style="background-color: rgba(0, 40, 79, 0.9); padding: 10px; padding-bottom: 80px;">
<div class="demo-back">
    <a href="index.html" title="go back" role="button">
        <i class="material-icons" role="presentation" style="color: #F5F5F5; margin-top: 20px; margin-left: 20px;">arrow_back</i>
    </a>
</div>

<div style="padding-top: 70px;">
    <div style="max-width: 1200px; background-color: #F5F5F5; padding: 10px; margin: 0 auto;">
        <h3 class="lead" style="font-size: 1.5em; font-weight: 700; text-align: center;">Add your tribute</h3>
        <div style="margin-left: auto; margin-right: auto;">
            <form>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" style="width: 250px; margin-left: 20px;"
                      ng-model="newTributeObject.name"
                      placeholder="Name"></textarea>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" style="width: 700px; margin-left: 20px; margin-bottom: 10px;"
                      ng-model="newTributeObject.content"
                      placeholder="Add tribute"></textarea>
                </div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                        ng-click="addNewTribute()"
                        ng-disabled="newTributeObject.name.length < 2 || newTributeObject.content.length < 5"
                        style="border-radius: 50%; height: 40px; width: 45px; background-color: #A9A9A9; margin-left: 45%; margin-top: -95px;">
                    <i class="material-icons" role="presentation" style="color: #696969;">check</i><span
                        class="visuallyhidden">add tribute</span>
                </button>
            </form>
        </div>
    </div>
</div>

<div style="padding-top: 70px;">
    <div style="max-width: 1200px; background-color: #F5F5F5; padding: 10px; margin: 0 auto;">
        <h3 class="lead" style="font-size: 1.5em; font-weight: 700; text-align: center;">All Tributes</h3>
        <div class="row" style="padding: 7px;">
            <div ng-repeat="tribute in allTributes" class="col col-md-6 col-lg-6 col-sm-12 col-xs-12"
                 style="margin: 0; padding: 0;">
                <div class="card" style="margin: 10px;">
                    <div class="card-header">
                        {{ tribute.name }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ tribute.content }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
    <table style="max-width: 1200px; margin: 30px auto;">
        <tr>
            <td>
                <a href="#" style="text-decoration: none; color: #F5F5F5;">
                    <button role="presentation"
                            style=" border-radius: 50%; height: 40px; width: 45px; margin-top: 25px;">
                        <i class="material-icons" style="margin-left: 8%; color: #00284F;">arrow_back</i>
                    </button>
                </a>
            </td>
            <td width="95%"></td>
            <td>
                <a href="#" style="text-decoration: none; color: #F5F5F5;">
                    <button role="presentation"
                            style=" border-radius: 50%; height: 40px; width: 45px; margin-top: 25px;">
                        <i class="material-icons" style="margin-left: 11%; color: #00284F;">arrow_forward</i>
                    </button>
                </a>
            </td>
        </tr>
    </table>
</div>
</div>
</body>

</html>